<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>AI Сочинения - Генератор текстов для студентов</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Генератор сочинений и эссе с помощью искусственного интеллекта">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
